<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.ehu.tta.appetc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentacion.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentacion.RegistroActivity" />
        <activity android:name=".presentacion.SesionActivity" />
        <activity android:name=".presentacion.MenuPrincipalActivity" />
        <activity android:name=".presentacion.MenuActivity" />
        <activity android:name=".presentacion.ExpresionesCompradorActivity" />
        <activity android:name=".presentacion.ExpresionesVendedorActivity" />
        <activity android:name=".presentacion.EstadoExpresionActivity" />
        <activity android:name=".presentacion.NuevaExpresionActivity" />
        <activity android:name=".presentacion.ExpresionesVaciasActivity" />
        <activity android:name=".presentacion.ResponderExpresionActivity" />
        <activity android:name=".presentacion.MenuPalabrasActivity"></activity>
    </application>

</manifest>